/*------- Font Family Starts -------*/

@font-face {
  font-family: "DancingScript-Regular";
  src: url("../fonts/DancingScript-Regular.ttf");
}
@font-face {
  font-family: "JosefinSans-Light";
  src: url("../fonts/JosefinSans-Light.ttf");
}
@font-face {
  font-family: "JosefinSans-Medium";
  src: url("../fonts/JosefinSans-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.otf");
}

/*------- Font Family Ends -------*/

/*------- Reset CSS Starts -------*/

html { font-size: 10px; letter-spacing: 0.5px; }
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
form { margin: 0; padding: 0; }
li { list-style: none; }
a,
a:hover,
a:focus { outline: 0; text-decoration: none; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }

/*------- Reset CSS Ends -------*/

/*------- Common CSS Starts -------*/

.container-fluid { padding: 50px 15px; }
.row-no-gutters { margin: 0; }
.row-no-gutters > [class^=col-] { padding: 0; }
.section-heading > h2 { color: #2a0c00; font: 5rem/1.2 "JosefinSans-Medium"; margin-bottom: 50px; }
.section-heading > h2 > span { color: #d67e5a; font-family: "DancingScript-Regular"; }
p { color: #2a0c00; font: 2rem/1.4 "JosefinSans-Light"; text-align: justify; }
.form-control:focus { -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; box-shadow: none; }
.form-floating > .form-control:focus ~ label { opacity: 1; }
.read-more-1 {
  background-color: #2a0c00;
  color: #ffffff;
  display: inline-block;
  font: 1.8rem/normal "JosefinSans-Light";
  padding: 15px 25px 12px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}
.read-more-1:hover { background-color: #d67e5a; color: #ffffff; }
.read-more-2 { color: #2a0c00; padding-bottom: 5px; position: relative; z-index: 1; }
.read-more-2 > span { color: #d67e5a; }
.read-more-2::after { background: linear-gradient(to right, #2a0c00, #d67e5a); bottom: 0; content: ""; display: block; height: 1px; left: 0; position: absolute; width: 100%; z-index: 1; }
.read-more-2:hover { color: #d67e5a; }
.read-more-2:hover > span { color: #2a0c00; }
.read-more-2:hover::after { background: linear-gradient(to left, #2a0c00, #d67e5a); }
.box-shadow-left > img { -webkit-box-shadow: 14px 14px 0px 0px #dc9869; -moz-box-shadow: 14px 14px 0px 0px #dc9869; -ms-box-shadow: 14px 14px 0px 0px #dc9869; -o-box-shadow: 14px 14px 0px 0px #dc9869; box-shadow: 14px 14px 0px 0px #dc9869; }
.box-shadow-right > img { -webkit-box-shadow: -14px 14px 0px 0px #dc9869; -moz-box-shadow: -14px 14px 0px 0px #dc9869; -ms-box-shadow: -14px 14px 0px 0px #dc9869; -o-box-shadow: -14px 14px 0px 0px #dc9869; box-shadow: -14px 14px 0px 0px #dc9869; }

/*------- Common CSS Ends -------*/

/*------- Home Page Starts -------*/

  /*------- Logo, Hamburger Menu and Fixed Sidebar Menu Section Starts -------*/

.bg-logo-hamburger-menu,
.fixed-mega-menu { display: none; }

  /*------- Logo, Hamburger Menu and Fixed Sidebar Menu Section Ends -------*/

  /*------- Logo and Navbar Menu Section Starts -------*/

.bg-logo-navbar-menu { padding: 10px 15px; }
.header-logo > a { display: inline-block; }
.header-logo > a > img { height: 70px; }
.header-menu-listing > li { margin-right: 50px; position: relative; z-index: 1; }
.header-menu-listing > li:last-child { margin-right: 0; }
.header-menu-listing > li > a { color: #2a0c00; display: block; font: 1.8rem/1.2 "JosefinSans-Light"; text-transform: uppercase; }
.header-menu-listing > li.active > a,
.header-menu-listing > li > a:hover { color: #d67e5a; }

  /*------- Logo and Navbar Menu Section Ends -------*/

  /*------- Banner Section Starts -------*/

.bg-banner { background: url("../images/banner.jpg") no-repeat top/cover; height: calc(100vh - 90px); padding: 0; }

  /*------- Banner Section Ends -------*/

  /*------- Information Section Starts -------*/

.bg-information { padding: 70px 15px; }
.box-information-quote > h2 { color: #d67e5a; font: 4rem/1 "DancingScript-Regular"; margin-bottom: 70px; }
.information-section-heading > h2 { margin-bottom: 0; }

  /*------- Information Section Ends -------*/

  /*------- About Section Starts -------*/

.bg-about { padding: 0 15px; }
.about-image > img { margin-bottom: 100px; width: 100%; }
.about-heading-info { margin-bottom: 50px; padding: 0 50px; }
.about-info > p { margin-bottom: 30px; text-align: center; }
.about-info > p:last-child { margin-bottom: 100px; }

  /*------- About Section Ends -------*/

  /*------- Services Section Starts -------*/

.our-services-section-heading > h2 { color: #d67e5a; }
.services-listing > li { font: 3rem/1.2 "JosefinSans-Medium"; list-style-type: decimal; margin-bottom: 30px; }
.services-listing > li:last-child { margin-bottom: 0; }
.services-listing > li > a { color: #2a0c00; display: inline-block; font: 3rem/1.2 "JosefinSans-Medium"; }
.services-listing > li > a > span { color: #2a0c00; -webkit-transition: 0.5s ease; -moz-transition: 0.5s ease; -ms-transition: 0.5s ease; -o-transition: 0.5s ease; transition: 0.5s ease; }
.services-listing > li > a:hover { color: #dc9869; }
.services-listing > li > a:hover > span { color: #dc9869; }
.service-info > p { margin-bottom: 30px; } 

  /*------- Services Section Ends -------*/

  /*------- Gallery Section Starts -------*/

.bg-gallery { background-color: rgb(220 152 105 / 7%); margin-bottom: 100px; margin-top: 50px; padding: 100px 15px 70px; position: relative; z-index: 1; }
.bg-gallery::before {
  background-color: rgb(220 152 105 / 7%);
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
  content: "";
  display: block;
  height: 100px;
  left: 0;
  position: absolute;
  top: -100px;
  width: 100%;
}
.bg-gallery::after {
  background-color: rgb(220 152 105 / 7%);
  bottom: -100px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);;
  content: "";
  display: block;
  height: 100px;
  left: 0;
  position: absolute;
  width: 100%;
}
.gallery-image > img { margin-bottom: 15px; }
.gallery-image > img:last-child { margin-bottom: 0; }

  /*------- Gallery Section Ends -------*/

  /*------- Testimonials Section Starts -------*/

.bg-testimonials { padding: 50px 15px 75px; }
.testimonial-info-quote > img { display: block; margin: 0 auto 20px; width: 70px; }
.testimonials-info > p { margin-bottom: 20px; }
.testimonials-info > h4 { font: 2.4rem/1.2 "JosefinSans-Medium"; }

    /*------- Slick Slider CSS Starts -------*/

.testimonials-slick-slider .slick-slide { padding: 0 !important; }
.testimonials-slick-slider .slick-dots li {
	cursor: pointer;
	display: inline-block;
	height: auto;
	margin: 0 5px;
	padding: 0;
	position: relative;
	width: auto;
}
.testimonials-slick-slider .slick-dots li button {
	background-color: transparent;
  border: 2px solid #2a0c00;
	height: 12px;
	line-height: 12px;
	margin: 0;
	opacity: 1;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	width: 12px;
}
.testimonials-slick-slider .slick-dots li.slick-active button {
  background-color: #2a0c00;
	opacity: 1;
	width: 27px;
}
.testimonials-slick-slider .slick-dots li button::before {
	content: '';
}

	  /*------- Slick Slider CSS Ends -------*/

  /*------- Testimonials Section Ends -------*/

  /*------- Get In Touch Section Starts -------*/

.bg-get-in-touch { background-color: rgb(220 152 105 / 7%); padding: 50px 0; }
.get-in-touch-image { position: relative; z-index: 1; }
.get-in-touch-image > img { width: 100%; }
.form-get-in-touch-info { margin: 0 30px; }
.form-get-in-touch-info > h4 { color: #2a0c00; font: 3rem/1.2 "JosefinSans-Medium"; margin-bottom: 15px; }
.form-get-in-touch-info > h5 { color: #d67e5a; font: 2rem/1.5 "JosefinSans-Light"; margin-bottom: 30px; }

  /*------- Get In Touch Section Ends -------*/

  /*------- Footer Section Starts -------*/

.bg-footer { background-color: #2a0c00; }
.footer-logo > a { display: inline-block; }
.footer-logo > a > img { margin-bottom: 20px; width: 140px; }
.footer-info > p { color: #ffffff; font-size: 2rem; margin-bottom: 20px; padding-right: 50px; }
.footer-info > p:last-child { margin-bottom: 0; }
.footer-info > p > a { background-color: #d67e5a; -webkit-align-items: center; align-items: center; background-color: #d67e5a; color: #ffffff; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; height: 35px; justify-content: center; line-height: 35px; width: 35px; }
.footer-info > p > a:hover { background-color: #ffffff; color: #d67e5a; }
.footer-heading > h4 { color: #dc9869; font: 2.4rem/1.2 "JosefinSans-Medium"; margin-bottom: 30px; }
.footer-quick-listing > li,
.footer-contact-listing > li { margin-bottom: 15px; }
.footer-quick-listing > li > a,
.footer-contact-listing > li > a { color: #ffffff; font: 2rem/1.2 "JosefinSans-Light"; }
.footer-quick-listing > li > a:hover { color: #dc9869; letter-spacing: 1.7px; }
.footer-contact-listing > li { padding-left: 35px; position: relative; }
.footer-contact-listing > li:first-child::before,
.footer-contact-listing > li:nth-child(2)::before,
.footer-contact-listing > li:nth-child(3)::before { color: #dc9869; content: "\f3c5"; display: block; font-family: "Font Awesome 5 Free"; font-size: 1.6rem; font-weight: 900; left: 0; position: absolute; top: 0px; }
.footer-contact-listing > li:nth-child(2)::before { content: "\f0e0"; }
.footer-contact-listing > li > a:hover { color: #dc9869; letter-spacing: 1.7px; }
.footer-contact-listing > li > address > p { color: #ffffff; font-size: 2rem; }

  /*------- Footer Section Ends -------*/

  /*------- Copyright Section Starts -------*/

.bg-copyright { background-color: #1c0800; }
.bg-copyright { padding: 20px 15px; }
.copyright-info > p { color: #ffffff; font-size: 1.8rem; text-align: center; }
.copyright-info > p > span,
.copyright-info > p > a { color: #dc9869; }

  /*------- Copyright Section Ends -------*/

/*------- Home Page Ends -------*/

/*------- About Us Page Starts -------*/

  /*------- About Section Starts -------*/

.bg-about-ap { padding: 100px 50px 0; }
.about-info-ap { margin: 50px 0; }
.about-info-ap > p { margin-bottom: 30px; }
.about-info-ap > p:last-child { margin-bottom: 0; }

  /*------- About Section Ends -------*/

/*------- About Us Page Ends -------*/

/*------- Services Page Starts -------*/

  /*------- Banner Section Starts -------*/

.bg-banner-services { background: url("../images/service-banner.jpg") no-repeat top/cover; height: calc(100vh - 70px); padding: 0; position: relative; z-index: 1; }

  /*------- Banner Section Ends -------*/

  /*------- Information Section Starts -------*/

.mk-services-sp { margin: 50px 0 0; }

  /*------- Information Section Ends -------*/

  /*------- Services Section Starts -------*/

.bg-wardrobe-services-sp,
.bg-cs-makeover-services-sp,
.bg-fashion-brands-sp { background-color: rgb(220 152 105 / 7%); margin-bottom: 100px; margin-top: 50px; padding: 50px 15px 20px; position: relative; z-index: 1; }
.bg-wardrobe-services-sp::before,
.bg-cs-makeover-services-sp::before,
.bg-fashion-brands-sp::before {
  background-color: rgb(220 152 105 / 7%);
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
  content: "";
  display: block;
  height: 100px;
  left: 0;
  position: absolute;
  top: -100px;
  width: 100%;
}
.bg-wardrobe-services-sp::after,
.bg-cs-makeover-services-sp::after,
.bg-fashion-brands-sp::after {
  background-color: rgb(220 152 105 / 7%);
  bottom: -100px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);;
  content: "";
  display: block;
  height: 100px;
  left: 0;
  position: absolute;
  width: 100%;
}
.mk-services-sp { margin: 50px 0; }
.row-services-sp { margin-bottom: 45px; }
.services-info-sp { padding: 0 30px; }
.services-info-sp > p:last-child { margin-bottom: 0; }
.services-e-info-quote-sp { color: #d67e5a; font: 4rem/1.4 "DancingScript-Regular"; margin-bottom: 30px; text-align: center; }
.services-sub-section-heading-sp > h3 { color: #2a0c00; display: inline-block; font: 3rem/1.2 "JosefinSans-Medium"; margin-bottom: 20px; }
.services-sub-section-heading-sp > h3 > span { color: #d67e5a; }
.services-listing-sp { margin-bottom: 50px; }
.services-listing-sp > li { color: #1c0800; font: 2rem/1.4 "JosefinSans-Light"; margin-bottom: 10px; padding-left: 25px; position: relative; z-index: 1; }
.services-listing-sp > li:last-child { margin-bottom: 0; }
.services-listing-sp > li::before { background-color: #d67e5a; content: ""; display: block; height: 10px; left: 0; position: absolute; top: 3px; width: 10px; z-index: 1; }
.process-number-sp { background-color: #fdf8f4; box-shadow: rgb(214 126 90 / 40%) 3px 3px 6px 0px inset, rgb(255 255 255 / 50%) -3px -3px 6px 1px inset; padding: 15px; }
.process-listing { margin-top: 15px; }
.process-listing > li { padding-bottom: 70px; position: relative; z-index: 1; }
.process-listing > li:last-child { padding-bottom: 0; }
.process-listing > li::before { border-left: 1px dashed #d67e5a; content: ""; display: block; height: 100%; left: 30px; position: absolute; top: 0; width: 1px; z-index: -1; }
.process-listing> li:last-child::before { border-left: 0; height: 0; width: 0; }
.process-number-sp > h3 { color: #2a0c00; font: 3rem/1.2 "JosefinSans-Medium"; }
.process-number-sp > h3 > span { color: #d67e5a; display: block; font-family: "DancingScript-Regular"; }
.process-heading-info-sp > h3 { color: #2a0c00; font: 3rem/1.2 "JosefinSans-Medium"; margin-bottom: 10px; }
.process-heading-info-sp > h3 > span { color: #d67e5a; font-family: "JosefinSans-Medium"; }

  /*------- Services Section Ends -------*/

/*------- Services Page Ends -------*/

/*------- Contact Us Page Starts -------*/

  /*------- Contact Information Section Starts -------*/

.bg-contact-cp { padding: 50px 15px 60px; }
.contact-info-cp > img { margin: 0 auto 20px; width: 50px; }
.contact-info-cp > h3 { margin-bottom: 20px; }
.contact-info-cp > h3 > a { background: linear-gradient(to top, #2a0c00 50%, #d67e5a 50%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 3rem; font-family: "JosefinSans-Medium"; }
.contact-info-cp > h3 > a:hover { background: linear-gradient(to bottom, #2a0c00 50%, #d67e5a 50%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

  /*------- Contact Information Section Ends -------*/

/*------- Contact Us Page Ends -------*/